html 
{
}

body
{
    background-color:#53290B;
    font-size:100%;
    font-family:Verdana, sans;
}


/* General Style */
p,ul,a
{
    color:#FFF8DC;
    text-align:justify;
    font-size:0.85em;
}

h1
{
    color:#5CE6E6;
}

h2
{
    color:#40A1A1;
}

/* Concret style */
#resume h2 
{
    color:#FFA5D2;
}

#resume h3
{
    color:#B2FF99;
}

#resume hr
{
    color:blue;
}

/* Dimensions */
#container
{
}

#header
{
    border-style:solid;
    border-width:4px;
    border-color:red;
    text-align:center;
    overflow:hidden;
}

#Content
{
    margin-top:10px;
    position:relative;
}

#General
{
    width:60%;
    max-width:60%;
    float:left;
    padding:1%;
    border-style:solid;
    border-width:4px;
    border-color:yellow;
    position:absolute;
    left:0%;
    bottom:0%;
    top:0%;
}

#resume
{
    padding:1%;
    margin-left:65%;
    border-style:solid;
    border-width:4px;
    border-color:blue;
}

